<div class="room-post-content">
    <h3>登録済みルーム一覧</h3>
    <table>
        <thead class="room-infomation">
            <th>ルーム画像</th>
            <th>エリア</th>
            <th>ルーム名</th>
            <th>ルームの紹介</th>
            <th>料金</th>
            <th>予約</th>
        </thead>
        <tbody class="room-user-infomation">
        <% @room_registrations.each do |room_registration| %>
            <tr>
                <td><%= image_tag room_registration.image.url %></td>
                <td><%= room_registration.room_erea %></td>
                <td><%= room_registration.room_name %></td>
                <td><%= room_registration.introduction %></td>
                <td><%= room_registration.room_price %></td>
                <td><%= link_to "予約", room_registration %></td>
            </tr>
        <% end %>    
        </tbody>    
   </table>
</div>