<div class="room_container">
  <h3>ルーム情報登録</h3>

  <%= form_with model: @room_registration, url: room_registrations_path do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="registration">
      <%= f.label :room_name, "ルーム名", class:"bold" %><br>
      <%= f.text_field :room_name, class:"input_field", placeholder: "ルーム名を入力" %>
    </div> 
    <div class="registration">
      <%= f.label :introduction, "ルーム紹介", class:"bold" %><br>
      <%= f.text_field :introduction, class:"wide_field", placeholder: "ルームの詳細を入力" %>
    </div>
    <div class="registration">
      <%= f.label :room_price, "料金", class:"bold" %><br>
      <%= f.number_field :room_price, class:"input_field", placeholder: "１日あたりの料金を入力"  %>
    </div>
    <div class="registration">
      <%= f.label :room_erea, "エリア", class:"bold" %><br>
      <%= f.text_field :room_erea, class:"input_field", placeholder: "エリアを入力" %>
    </div>
    <div class="registration">
      <%= f.label :image, "ルーム画像", class:"bold" %><br>
      <%= f.file_field :image, class:"input_field" %>
    </div>
    <div class="registration">
      <%= f.submit "登録", class: "submit" %>
    </div>
  <% end %>

</div>