<div class="reservation_container">
  <h3>予約確認画面</h3>
  <%= form_with model: @reservation, url: reservations_path, local:true do |f| %>

  <div class="booking">
    <p>金額</p>
    <p>¥<%= @reservation.room_registration.room_price %>（お１人様１泊につき）</p>
  </div>
  <div class="booking">
    <p>開始日</p>
    <p><%= @reservation.start_date %></p>
  </div>
  <div class="booking">
    <p>終了日</p>
    <p><%= @reservation.end_date %></p>
  </div>
  <div class="booking">
    <p>滞在日数</p>
    <p><%= @days %>泊<%= @days + 1 %>日</p>
  </div>
  <div class="booking">
    <p>人数</p>
    <p><%= @reservation.person %>人</p>
  </div>
  <div class="booking">
    <p>お支払い金額</p>
    <p><%= @reservation.room_registration.room_price %>円/泊 × <%= @reservation.person %>人 × <%= @days %>泊</p>
    <p>¥<%= @reservation.room_registration.room_price * @reservation.person * @days %></p>
  </div>
  <%= f.hidden_field :room_registration_id %>
  <%= f.hidden_field :start_date %> 
  <%= f.hidden_field :end_date %>
  <%= f.hidden_field :person %>
  <div><%= f.submit "予約を確定", class: "submit" %></div>
    <button type="button", class="btn btn-success"><%= link_to "ルーム情報一覧へ", room_registrations_path %></button> 
  <% end %>
</div>